.btn1{ 
    width:28%;
    height:auto;
    margin:-10% 0 0 10%;
    position:absolute;
}
.btn2{ 
    width:28%;
    height:auto;
    margin:-10% 0 0 16%;
    position:absolute;
}
.btn3{ 
    width:28%;
    height:auto;
    margin:-7% 0 0 16%;
    position:absolute;
}
